body{
  margin: 0;
}

header{
  height: 180px;
  background-image: url(/img/pattern.png);
  background-color: #4EA0FF;
  background-repeat: repeat-x;
}

.logo{
  height: 82px;
  width: 371px;
  padding-top: 76px;
  padding-left: 14px;
  padding-bottom: 32px;
}